.container {
  list-style: none;
  padding: 0;
  position: absolute;
  max-width: 100%;
  cursor: pointer;
  text-decoration: none;
}

.container li {
     display: block;
     vertical-align: top;
     align-items: center; 
     margin-bottom: -12px; 
}

.container h2 {
  font-size: 21px;
  margin: 0;
  color: white;
}

.container p {
  font-size: 14px;
  color: white;
  display: inline-block;
  vertical-align: middle; 
  margin-left: 3%;
}

.cuadrate {
  position: fixed;
  background-color: #0A0A60;
  width: 284px; 
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  margin-left: auto;
  border: 4px solid #0D0D6F;
  line-height: 100px;
}

image-container {
  position: absolute;
  text-align: center;
  margin: 10px;
}
